.con{
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columns */
    grid-template-rows: repeat(5, 1fr); /* 5 rows */
    grid-gap: 10px; /* Adjust the gap between grid items */
  
}

.indi{
    padding: 10px;
  text-align: center;
  border: 1px solid #ccc;
  width: 280px; 
  height: 400px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
  text-align: start;

}

.indi img{
    width: 280px; 
  height: 280px;
}

@media (max-width: 790px) {
    .con{
      grid-template-columns: repeat(2, 1fr); 
    }
  }

  @media (max-width: 1075px) {
    .con{
      grid-template-columns: repeat(3, 1fr); 
    }
  }

@media (max-width: 768px) {
    .con{
      grid-template-columns: repeat(1, 1fr); 
      width: 250px;
    }
  }





